[Unit]
Description=.NET Minimal API

[Service]
Type=simple
WorkingDirectory=/usr/bin/
ExecStart=/usr/bin/bash start_minimalApi.sh
Restart=always

RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=webapi

[Install]
WantedBy=multi-user.target
