[Unit]
Description=.NET Minimal API

[Service]
Type=simple
WorkingDirectory=/var/minimalApi
ExecStart=/usr/bin/bash /usr/bin/start_minimalApi.sh
Restart=always

RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=webapi

[Install]
WantedBy=multi-user.target
